.center{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

hr{
    border-top: 2px solid black;
    
}

td{
    width: 33.333333%;
    text-align: justify;
    padding: 10px;
    height: 100%;
}

.qoute{
text-indent: 50px;
font-weight: bold;
}

.border-left{
    border-left: 2px solid black;
    height: 100%;
} 

.big{
    font-size: 36px;
    
}

.small{
    font-size: small;
}

.border-right{
    border-right: 2px solid black;
}

figcaption{
    font-size: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
  }

figure{
    float: left;
    padding: 0;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8 px;
}